<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Order

    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/styleAll.css">
</head>

<body>

    <header class="header">

        <div class="logo-text">

            <img src="/img/logo.png" alt="logo">

            <p>

                <a class="not-active-tag-a" href="/">Addition</a>


            </p>

        </div>

        <div class="logo-register-block">

            <a href="/register">

                <img src="/icons/person.svg" alt="person">

            </a>

        </div>

    </header>

    <main class="main">

        <div class="voice-block-container">

            <div class="voice-blocks-first">

                <div class="voice-block-purple">

                    <a href="/form/regular">

                        <div class="voice-logo">

                            <img src="/img/logo.png" alt="logo">

                            <p>

                                Звичайний чат

                            </p>

                        </div>

                    </a>

                </div>

                <div class="voice-block-black">

                    <a href="/form/thematic">

                        <div class="voice-logo">

                            <img src="/img/logo.png" alt="logo">

                            <p>

                                Тематичний чат

                            </p>

                        </div>

                    </a>

                </div>

            </div>

            <div class="voice-blocks-second">

                <div class="voice-block-red">

                    <a href="/voicechat/adult">

                        <div class="voice-logo">

                            <img src="/img/logo.png" alt="logo">

                            <p>

                                18+ чат

                            </p>

                        </div>

                    </a>

                </div>

                <div class="voice-block-redbad">

                    <a href="/form/thematic/adult">

                        <div class="voice-logo-red">

                            <img src="/img/logo.png" alt="logo">

                            <p>

                                Тематичиний 18+ чат

                            </p>

                        </div>

                    </a>

                </div>

            </div>

            <div class="main-voice-block">

                <a href="#">

                    <div class="voice-logo">

                        <img src="/img/logo.png" alt="logo">

                        <p>

                            Addition <br /> анти BAN

                        </p>

                    </div>

                </a>

            </div>

            <div class="voice-blocks-third">

                <div class="voice-block-black">

                    <a href="/videoconference">

                        <div class="voice-logo">

                            <img src="/img/logo.png" alt="logo">

                            <p>

                                Відео чат

                            </p>

                        </div>

                    </a>

                </div>

                <div class="voice-block-white">

                    <a href="/voicechat">

                        <div class="voice-logo-white">

                            <img src="/img/logo.png" alt="logo">

                            <p>

                                Голосовий чат

                            </p>

                        </div>

                    </a>

                </div>

            </div>

            <div class="div"></div>

        </div>

    </main>

    <footer class="footer">


        <div class="logo-text">

            <img src="/img/logo.png" alt="logo">

            <p>

                <a class="not-active-tag-a" href="/">Addition</a>

            </p>

        </div>

        <div class="discord-block">

            <a href="https://discord.gg/E2Mmack5fG">

                <img src="/icons/discord.svg" alt="discord">

            </a>

        </div>

    </footer>

</body>

</html>
