<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/registerForm.style.css">
    <link rel="stylesheet" href="/style/styleAll.css">
    <title>

        Register Form

    </title>

</head>

<body>

    <div class="form-block">

        <div class="form-name">

            <p>
                Create an account
            </p>

        </div>

        <div class="register-block">

            <div class="form-container">

                <form>

                    <input type="text" placeholder="Name">

                    <input type="text" placeholder="Username">

                    <input type="email" placeholder="Email">

                    <input type="password" placeholder="Password">

                    <div class="block-check">

                        <input type="checkbox" id="myCheckbox">
                        <label for="myCheckbox">Remember me</label>

                    </div>
                   
                    <button class="signup-btn" type="submit">

                            Sign Up

                        <img src="/icons/arrow-right.svg" alt="arrow-right">

                    </button>

                    <div class="mobile-btn">

                        <button class="facebook-btn" type="button">

                            <img src="/icons/facebook.svg" alt="facebook">
                
                        </button>
        
                        <button class="twitter-btn" type="button">
        
                            <img src="/icons/twitter.svg" alt="twitter">
                
                        </button>
        
                        <button class="google-btn" type="button">
        
                            <img src="/icons/google.svg" alt="google">
                
                        </button>
        
                        <button class="apple-btn" type="button">
        
                            <img src="/icons/apple.svg" alt="apple">
                
                        </button>

                    </div>

                </form>

            </div>

            <div class="connect-block">

                <button class="facebook-btn" type="button">

                    <img src="/icons/facebook.svg" alt="facebook">

                    <p>
                        Connect with Facebook
                    </p>

                </button>

                <button class="twitter-btn" type="button">

                    <img src="/icons/twitter.svg" alt="twitter">

                    <p>
                        Connect with Twitter
                    </p>

                </button>

                <button class="google-btn" type="button">

                    <img src="/icons/google.svg" alt="google">

                    <p>
                        Connect with Google
                    </p>

                </button>

                <button class="apple-btn" type="button">

                    <img src="/icons/apple.svg" alt="apple">

                    <p>
                        Connect with Apple
                    </p>

                </button>

            </div>

        </div>

        <div class="login-block">

            <p>
                Already have an account

                <a href="/register">
                    Login Now
                </a>

            </p>

        </div>

    </div>

</body>

</html>