<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Regular Form

    </title>

    <link rel="stylesheet" href="/style/regularForm.style.css">
    <link rel="stylesheet" href="/style/styleAll.css">
    <link rel="stylesheet" href="/style/loadPage.css">

    <script src="/js/regularForm.js" defer></script>
    <script src="/js/sendFormSearch.js" defer></script>

    <script src="/js/loadPage.js" defer></script>

</head>

<body>
<div id="main-content">
    <div class="form-block">

        <div class="form-container">

            <div class="chat-header">

                <img src="/img/logo.png" alt="logo">

                <p>

                    <a class="not-active-tag-a" href="/">Addition</a>

                </p>

            </div>

            <div class="form-line-first">

                <div class="orientation-block">

                    <p>

                        Моя стать

                    </p>

                    <button id="gender-male" onclick="toggleButtonUserGender('gender-male')">
                        <input type="hidden" value="Хлопець">
                        Я хлопець

                    </button>

                    <button id="gender-female" onclick="toggleButtonUserGender('gender-female')">
                        <input type="hidden" value="Дівчина">
                        Я дівчина

                    </button>

                </div>


                <div class="looking-age-block">

                    <p>

                        Я шукаю

                    </p>

                    <button id="looking-male" onclick="toggleButton('looking-male')">
                        <input type="hidden" value="Хлопець">
                        Хлопця

                    </button>

                    <button id="looking-female" onclick="toggleButton('looking-female')">
                        <input type="hidden" value="Дівчина">
                        Дівчину

                    </button>

                </div>

            </div>

            <div class="form-line-second">

                <div class="my-age-block">

                    <p>

                        Мій вік

                    </p>

                    <button id="age1" onclick="toggleButtonUserAge('age1')">

                        16-17

                    </button>

                    <button id="age2" onclick="toggleButtonUserAge('age2')">

                        18-21

                    </button>

                    <button id="age3" onclick="toggleButtonUserAge('age3')">

                        22-25

                    </button>

                    <button id="age4" onclick="toggleButtonUserAge('age4')">

                        26-30

                    </button>

                    <button id="age5" onclick="toggleButtonUserAge('age5')">

                        31-35

                    </button>

                    <button id="age6" onclick="toggleButtonUserAge('age6')">

                        36..

                    </button>

                </div>

                <div class="looking-block">

                    <p>
                        Вік цікавить
                    </p>

                    <button id="age7" onclick="toggleButton('age7')">

                        16-17

                    </button>

                    <button id="age8" onclick="toggleButton('age8')">

                        18-21

                    </button>

                    <button id="age9" onclick="toggleButton('age9')">

                        22-25

                    </button>

                    <button id="age10" onclick="toggleButton('age10')">

                        26-30

                    </button>

                    <button id="age11" onclick="toggleButton('age11')">

                        31-35

                    </button>

                    <button id="age12" onclick="toggleButton('age12')">

                        36..

                    </button>

                </div>

            </div>

            <div class="country-select">

                <p>

                    Країна

                </p>

                <select id="country" name="country">

                    <option value="Київ">

                        Україна

                    </option>

                    <option value="Харків">

                        Польща

                    </option>

                </select>

            </div>


            <div class="region-select">

                <p>
                    Область
                </p>

                <select id="region" name="region">

                    <option value="Київська область">

                        Київська область

                    </option>

                    <option value="Харківська область">

                        Харківська область

                    </option>

                </select>

            </div>

            <div class="look-interlocutor">

                <button class="look-button" type="button" onclick="validateForm()">

                    <img src="/icons/search.svg" alt="search">

                    <p>

                        Шукати співрозмовника

                    </p>

                </button>

            </div>

        </div>

    </div>
</div>



</body>

</html>