<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Thematic Adult Form

    </title>

    <link rel="stylesheet" href="/style/thematicAdultForm.style.css">
    <link rel="stylesheet" href="/style/styleAll.css">
</head>

<body>

    <div class="thematic-block">

        <div class="thematic-container">

            <div class="thematic-text-block">

                <div class="chat-header">

                    <img src="/img/logo.png" alt="logo">
    
                    <p>
    
                        <a class="not-active-tag-a" href="/">Addition</a>
    
                    </p>
    
                </div>

            </div>

            <div class="thematic-select-block">

                <div class="thematic-select">

                    <div class="select-container">

                        <div class="block-start">

                            <p>

                                я

                            </p>

                        </div>

                        <select id="thematic" name="thematic">

                            <option value="не скажу кто ">

                                не скажу кто

                            </option>

                        </select>

                    </div>

                </div>

                <div class="thematic-select">

                    <div class="select-container">

                        <div class="block-start">

                            <p>

                                ищу

                            </p>

                        </div>

                        <select id="thematic" name="thematic">

                            <option value=" не важно кого">

                                не важно кого

                            </option>

                        </select>

                    </div>

                </div>

            </div>

            <div class="look-interlocutor">

                <button class="look-button" type="submit">

                    <img src="/icons/search.svg" alt="search">

                    <p>

                        Поиск

                    </p>

                </button>

            </div>

            <div class="room-topics">

                <div class="block-create">

                    <p>
                        Комната по темам => <a href="#">Создать свою</a>
                    </p>

                </div>

                <div class="room-items">

                    <a href="#">мужик 41год</a>

                    <a href="#">девушки 14-15 лет</a>

                    <a href="#">ищу алексея</a>

                    <a href="#">леха 34</a>

                    <a href="#">дядя федор тут?</a>

                    <a href="#">зачем леха посалал катю?</a>

                </div>

            </div>

        </div>

    </div>

</body>

</html>