<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Thematic Form

    </title>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/loadPage.js" defer></script>
    <script src="/js/checkBanUser.js"></script>
    <script src="/jsconfig/banword.js"></script>
    <link rel="stylesheet" href="/style/thematicRegularForm.style.css">
    <link rel="stylesheet" href="/style/styleAll.css">
    <link rel="stylesheet" href="/style/thematicChat.css">

</head>

<body>
<div class="thematic-block">
    <div class="thematic-container">
        <div class="thematic-text-block">
            <div class="chat-header">
                <img src="/img/logo.png" alt="logo">
                <p>
                    <a class="not-active-tag-a" href="/">Addition</a>
                </p>
            </div>
        </div>
    </div>

    <div class="room-topics">
        <div class="block-create">
            <p>
                Комната по темам => <button id="buttonCreateButton">Создать свою</button>
            </p>
        </div>
        <div class="room-items" id="room-items">
            <button th:each="thematicRoom : ${allThematicRoom}"
                    th:text="${thematicRoom.getChatName()}"
                    th:value="${thematicRoom.getChatId()}" onclick="saveRoomUser(this.value, 'THEMATIC')"></button>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Задайте название чата</h2>
        <form id="chatForm">
            <input type="text" id="chatName" placeholder="Название чата" required>
            <p id="not-valid-nameChat" style="font-weight: bold; color: #dfd114;"></p>
            <button type="submit">Создать комнату</button>
        </form>

    </div>
</div>

   <script src="/js/thematicForm.js"></script>
    <script src="/js/thematicWebSocket.js"></script>

</body>

</html>