<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Thematic Form

    </title>
    
    <link rel="stylesheet" href="/style/thematicRegularForm.style.css">
    <link rel="stylesheet" href="/style/styleAll.css">
    <link rel="stylesheet" href="/style/thematicChat.css">

</head>

<body>
<div class="thematic-block">
    <div class="thematic-container">
        <div class="thematic-text-block">
            <div class="chat-header">
                <img src="/img/logo.png" alt="logo">
                <p>
                    <a class="not-active-tag-a" href="/">Addition</a>
                </p>
            </div>
        </div>
    </div>

    <div class="room-topics">
        <div class="block-create">
            <p>
                Комната по темам => <button id="buttonCreateButton">Создать свою</button>
            </p>
        </div>
        <div class="room-items" id="room-items">
            <button>мужик 41год</button>
            <button>девушки 14-15 лет</button>
            <button>ищу алексея</button>
            <button>леха 34</button>
            <button>дядя федор тут?</button>
            <button>зачем леха посалал катю?</button>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Задайте название чата</h2>
        <form id="chatForm">
            <input type="text" id="chatName" placeholder="Название чата" required>
            <button type="submit">Создать комнату</button>
        </form>
    </div>
</div>

   <script src="/js/thematicForm.js"></script>

</body>

</html>