<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>

        Video Form

    </title>

    <link rel="stylesheet" href="/style/styleAll.css">
    <link rel="stylesheet" href="/style/videoForm.style.css">
</head>

<body>

    <div class="video-block">

        <div class="video-container">

            <div class="chat-header">

                <img src="/img/logo.png" alt="logo">

                <p>

                    <a class="not-active-tag-a" href="/">Addition</a>

                </p>

            </div>

            <div class="webcam-block">

                <div class="my-webcam">

                    <p>

                        Видео 1

                    </p>

                </div>

                <div class="your-webcam">

                    <p>

                        Видео 2

                    </p>

                </div>

            </div>

            <div class="video-items">

                <div class="start-items">

                    <button type="button">

                        <img src="/icons/mic.svg" alt="mic">

                    </button>

                    <button type="button">

                        <img src="/icons/videocam.svg" alt="videocam">

                    </button>

                    <button class="mobile-btn" type="button">

                        <img src="/icons/caret-right.svg" alt="caret">

                    </button>

                    <button class="mobile-btn" type="button">

                        <img src="/icons/stop-circle.svg" alt="caret">

                    </button>

                    <button class="mobile-btn" type="button">

                        <img src="/icons/chat-left-text.svg" alt="chat">

                    </button>

                </div>

                <div class="main-items">

                    <button class="ban-btn" type="button">

                        Ban
    
                    </button>

                    <button class="next-button" type="button">

                        <p>

                            Далее

                        </p>


                    </button>

                    <button class="stop-button" type="button">

                        <p>

                            Стоп

                        </p>


                    </button>


                    <button class="country-button" type="button">

                        <p>

                            Страна: 

                        </p>

                        <img src="/img/ukraine.png" alt="ukraine">

                    </button>

                    <button class="orientation-button" type="button">

                        <p>

                            Ваш пол: 

                        </p>

                        <img src="/img/man.png" alt="man">

                    </button>

                </div>

                <div class="text-communication">

                    <div class="communication-container">

                        <img src="/img/logo.png" alt="logo">

                        
                        <input placeholder="Введите сюда сообщение и нажмите Enter" type="text">

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>